* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "section" "footer";
}
@media only screen and (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: auto;
    grid-template-rows: auto 984px auto;
    grid-template-areas: "header" "section" "footer";
  }
}

header {
  grid-area: header;
}

section {
  grid-area: section;
  width: 100%;
}

nav {
  background-color: rgb(39, 39, 39);
  height: auto;
  display: block;
}
nav ul {
  list-style: none;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  nav ul {
    text-align: right;
  }
}
nav ul li {
  padding: 10px 0;
}
@media only screen and (min-width: 1024px) {
  nav ul li {
    display: inline;
  }
}
@media only screen and (min-width: 1024px) {
  nav ul li:first-child {
    float: left;
  }
}
nav ul li a {
  color: rgb(197, 197, 197);
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  nav ul li a {
    padding: 20px;
    display: inline-block;
  }
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}

#logo {
  color: skyblue;
  font-weight: bold;
  font-size: 30px;
  max-height: 100px;
  animation-name: logo;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-delay: 0s;
}
@media only screen and (min-width: 1024px) {
  #logo {
    padding: 0px 5px 5px 150px;
  }
}

#index img {
  width: 100%;
  height: 500px;
  display: block;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  #index img {
    height: 984px;
  }
}

#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  padding: 30px 0;
}
#servicos div {
  padding-bottom: 20px;
}

#sobrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  padding: 30px 0;
}
#sobrenos img {
  padding-top: 20px;
  max-width: 98%;
}
@media only screen and (min-width: 1024px) {
  #sobrenos img {
    height: 500px;
    width: 500px;
  }
}
#sobrenos p {
  padding-top: 20px;
  max-width: 98%;
}
@media only screen and (min-width: 1024px) {
  #sobrenos p {
    width: 500px;
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  #sobrenos h1 {
    width: 500px;
    text-align: left;
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  padding: 30px 0;
}
#portfolio img {
  padding-top: 20px;
  max-width: 98%;
  height: 300px;
  width: 300px;
}
@media only screen and (min-width: 1024px) {
  #portfolio img {
    padding-left: 20px;
  }
}

#equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  padding: 30px 0;
}
#equipe img {
  height: 350px;
  width: 350px;
  border-radius: 300px;
  border: 1px solid rgb(39, 39, 39);
  margin: 0 35px;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: auto;
  padding: 30px 0;
}

#google {
  padding-top: 20px;
  max-width: 98%;
  width: 100%;
  height: 27px;
  height: 500px;
}
@media only screen and (min-width: 1024px) {
  #google {
    width: 650px;
    padding-left: 30px;
  }
}

label {
  display: block;
  text-align: left;
  padding: 5px 0;
}

input {
  width: 100%;
  height: 27px;
}
input #botao {
  height: 50px;
  border-radius: 2px;
  margin: 10px auto 0px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  color: #333;
  margin: 25px auto 0 auto;
  border: 1px #333 solid;
  cursor: pointer;
}
input #botao:hover {
  color: #fff;
  border: 1px #176eac solid;
  background-color: #176eac;
}

textarea {
  width: 100%;
  height: 27px;
}

input[type=text] {
  border: 1px #949494 solid;
  background-color: #e4e4e4;
  border-radius: 3px;
}

input[type=email] {
  border: 1px #949494 solid;
  background-color: #e4e4e4;
  border-radius: 3px;
}

textarea {
  border: 1px #949494 solid;
  background-color: #e4e4e4;
  border-radius: 3px;
  height: 230px;
  resize: none;
  overflow: auto;
}

footer {
  height: 100%;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  background-color: rgb(39, 39, 39);
  justify-content: space-evenly;
  padding: 30px 0;
  color: #fff;
}
footer h4 {
  text-align: left;
}
footer p {
  font-size: 12px;
  max-width: 250px;
  text-align: left;
  padding: 10px 0;
}
footer span {
  padding: 20px 0;
  font-size: 12px;
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

#sobreRodape {
  width: 49%;
}
@media only screen and (min-width: 1024px) {
  #sobreRodape {
    flex-basis: 20%;
    align-content: flex-end;
  }
}

#contatoRodape {
  width: 49%;
}
@media only screen and (min-width: 1024px) {
  #contatoRodape {
    flex-basis: 20%;
  }
}

#copyrightRodape {
  width: 49%;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  #copyrightRodape {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  #sobreContainer, #telefoneContainer, #contatoContainer, #equipeContainer2, #equipeContainer1, #portfolioContainer2, #portfolioContainer1 {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  #telefoneContainer {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  #celular {
    margin-right: 15px;
  }
}

@keyframes logo {
  0% {
    transform: skewX(-10deg);
  }
  100% {
    transform: skewY(5deg);
  }
}

/*# sourceMappingURL=style.css.map */
